<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar padding-left>
      <h3>{{ this.profile.login }}</h3>
      <p>Jaspersoft Mobile</p>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list no-lines>

      <button ion-item *ngFor="let page of pages" (click)="openPage(page.component)" [disabled]="!page.component">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        {{ page.title }}
      </button>

      <button ion-item *ngFor="let modal of modals" (click)="openModal(modal.component)" [disabled]="!modal.component">
        {{ modal.title }}
      </button>

      <button ion-item (click)="logOut()">
        Log Out
      </button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
